.img{
  border-radius: 10px;
  border: solid 2px rgb(97, 85, 207);
  max-width: 100%;
  box-shadow: 5px 5px 5px 5px rgb(186, 184, 255);
}


.text{
  font-size: 1.2rem;
  color: #34495e;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.containerPrincipal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.containerPrincipal>p {
  text-align: center;
}