.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--backgroundnav);
  color: var(--text-color);
  height: 100px;
  box-shadow: 10px 5px 5px 3px rgb(44, 27, 116);
  position: fixed;
  width: calc(100% + 5px);
  margin-left: -5px;
  gap: 30px;

}

.h1{
  margin-top: 15px;
  margin-left: 5px;
  padding: 10px;
}

.headerDiv {
  display: flex;
  align-items: center;
}

.nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  width: 100vw;
  flex-grow: 1;
  max-width: 100%;
}

.titulo{
  color: #ffff;
}

.menu {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
  height: 50px;
  width: 100%;
  max-width: 410px;
  right: 20px;
  flex-grow: 1;

}



.itemMenu {
  position: relative;
}



.subMenu {
  position: absolute;
  left: 0;
  width: max-content;
  max-height: 0;
  background-color: #8f9ffa;
  overflow: hidden;
  border-radius: 5px;
  transition:  0.3s ease-in-out;
  color: #17096b;

}

.itemMenu:hover .subMenu {
  max-height: 200px; 
}
.subMenu a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.subMenu a:hover {
  color: #231153;
}

.linkMenu {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}

.linkMenu:hover {
  color: #190879;
}

.linkSubmenu {
  font-size: 14px;
  margin: 8px;
}

.mobile {
  display: none;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.menuIcon.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.menuIcon.active .bar:nth-child(2) {
  opacity: 0;
}

.menuIcon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -10px);
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
 
}

.logo h1 {
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 769px) {
  .nav {
    padding: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 80px;
    right: -300px;
    width: 250px;
    height: 100vh;
    height: calc(100vh - 90px);
    background: #530000;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 10px;
    transition: 0.3s ease-in-out;

  }

  .subMenu {
    position: relative;
    width: 100%;
    max-height: 0;
  }

  .itemMenu:hover .subMenu {
    max-height: 300px;
  }

  .subMenu a {
    padding: 10px;
    display: block;
    text-align: left;
  }

  .menu.active {
    right: 0px;
  }

  .menuOpen{
    right: 0;
  }



  .mobile {
    display: block;
  }

  .mobile .menuIcon {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    padding: 10px;
  }

  .menu {
    width: 200px;
    padding: 10px 0 0 5px;
  }
}



/* /* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--backgroundnav);
    color: var(--text-color);
  }
  
  .logo h1 {
    font-size: 1.5rem;
    color: white;
  }

  .h1{
    border: none;
    letter-spacing: 5px;
    padding-left: 20px;
  }

  .img{
    color: white;
    width: 65px;
    height: 65px;
  }

  .logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   
  }
  
  .menuButton {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .bar {
    width: 100%;
    height: 0.25rem;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  

  .menuButton.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menuButton.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menuButton.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  
  .nav {
    position: absolute;
    top: 0;
    right: -100%;
    width: 8%;
    height: 100vh;
    background-color: var(--backmenu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: right 0.3s ease;
    padding-top: 80px;
  }


  
  
  .navOpen {
    right: 0;
  }
  
  .ul {
    /* list-style: none; */
    /* padding: 0;
    margin: 0;
    color: white;
  }
  
  .li {
    margin: 1rem 0;
    /* position: relative; */
  /*}

  .liDesktop{
    position: relative;
  }
  
  .link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .link:hover {
    color: var(--hover-color);
  }

  .tela-mobile{
    display: flex;
    align-items: center;
  }

  @media (max-width: 780px) {
  .nav{
    width: 28%;
  }
  }

  @media (max-width: 600px){
    .nav{
      display: flex;
    }
    .navDesktop {
      display: none;
    }
  }

  @media (min-width: 601px){
    .menuButton{
      display: none;
    }
    .navDesktop {
      width: 100%;
      height: 60px;
      background-color: var(--backgroundnav);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ulDesktop {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      padding: 0;
      margin: 0;
      margin-top: 20px;
      color: white;
      list-style: none;
    }

    .liDesktop:hover{
      border-bottom: 2px white solid;
      border-radius: 2px;
    }

    .navDesktop {
      display: block;
    }
    .nav {
      display: none;
    }
    
  }

.li:hover .ulSmenu {
    max-height: 100vh;
}

 .ulSmenu{
  position: absolute;
  left: 0px;
  width: max-content;
  max-height: 0;
  background-color:#8f9ffa;
  overflow: hidden;
  border-radius: 5px;
  transition: 1s;
 }

 .ulSmenu a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.ulSmenu a:hover {
  color:#e8b3b3
}

.linkSmenu {
  font-size: 16px;
  margin: 10px;
}





.liDesktop:hover .ulSmenuDesktop {
  max-height: 100vh;
}

.ulSmenuDesktop{
position: absolute;
left: 0px;
width: max-content;
max-height: 0;
background-color: #8f9ffa;
overflow: hidden;
border-radius: 5px;
transition: 1s;
}

.ulSmenuDesktop a {
display: block;
color: #fff;
text-decoration: none;
}

.ulSmenuDesktop a:hover {
color:#08137a
}

.linkSmenuDesktop {
font-size: 16px;
margin: 10px;
}  */